.Contact{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 10%;
    justify-content: space-between;
}

.Contact-left{
    width: 50%;
}

.Contact-left>h2{
    font-size: 60px;
    color: #10375c;
}
.Contact-left>p{
    font-size: 15px;
    width: 80%;
    margin-left: 5px;
    color: #10375ca3;
    margin-bottom: 20px;
}
.Contact-left>a{
    text-decoration: none;
    color: #10375c;
    font-size: 16px;
    display: block;
    line-height: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.Contact-left>a:hover{
    color:#3AB0FF;
    transition: 200ms;
}
.Contact-left>a>span{
    color: #3AB0FF;
    font-size: 30px;
    margin-right: 5%;
}

.Contact-right{
    width: 50%;
    padding: 1% 0%;
}
.Contact-right>input , .Contact-right>textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #10375c;
    font-size: 18px;
    border-radius: 6px;
}
.Contact-right>button{
    width: 150px;
    padding: 3%;
    color: #10375c;
    background-color: #3AB0FF;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.Contact-right>button:hover{
    background-color: #3ab0ffdc;
}

.social{
    margin-left: 10px;
}

.social> a{
    text-decoration: none;
    font-size: 30px;
    margin-right:15px ;
    margin-top: 30px;
    color: #10375c;
    display: inline-block;
    transition: transform 0.5s;
}
.social> a:hover{
    color: #3AB0FF;
    transform: translateY(-5px);
}

.response-success{
    font-size: 15px;
    font-weight: 600;
    color: green;
}
.response-fail{
    font-size: 15px;
    font-weight: 600;
    color: red;
}

@media only screen and (max-width: 1000px){
    
    .Contact-left>h2{
        font-size: 40px;
    }
    .Contact-left{
        width: 100%;
    }
    .Contact-left>p{
        width: 100%;
    }
    .Contact-right{
        width: 100%;
        padding: 1% 0%;
    }
}